h2 Dashboard

.breadcrumbs
  = semantic_breadcrumbs

= link_to 'create receptionist', users_path

= link_to 'recipients', recipients_path

= link_to 'Logout', destroy_user_session_path, method: :delete
