h1 Dashboard

= link_to 'receptionist', users_path
br
= link_to 'recipients', recipients_path
br
= link_to 'Lockers', locker_boxes_path
br
= link_to 'Logout', destroy_user_session_path, method: :delete
