.main-header
  @include bottom-shadow
  margin-bottom: 2.5rem
  padding: 1rem 0

  .ui.menu
    margin: 0

    .ui.header
      font-size: 1.71428571rem

      .image
        margin-top: 0
        vertical-align: text-bottom

    .ui.button
      font-size: .85714286rem !important
